/*Andrei Neagoie CSS Course*/
/*Krishan First CSS Style Sheets*/
/* CSS for Box Model*/

body {
	background-color: silver;
	background-size: cover;
}

h1 {
	color: blue;
	text-align: center;
	border: 5px purple solid;
	cursor: pointer;
}

.BoxModel {
	display: inline-block;
	padding: 30px 20px 30px 20px;
	border: 5px solid purple;
	margin: 0px 20px 0px 20px;
}

p + ol {
	border: 5px solid green;
}

.example {
	background-color: teal;
	color: silver;
	border: 4px blue solid;
	width: 250px;
}